*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(img/bg.jpg);
    background-position: cover;
    background-repeat: cover;
}

.box{
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
    width: auto;
    background-color: #ffff;
    justify-content: center;
}

.box h1{
text-align: center;
padding-bottom: 2rem;
}

.box h2{
    text-align: center;
    padding-bottom: 0.5em;
}